/*font-family: 'Playfair Display', serif;*/
/*Colores
verde barra lateral #009458 RBG( 0 - 148 - 88 )  rgba(0, 148, 88, 1)
verde clarito #69BF97 RBG( 105 - 191 - 151 ) rgba(105, 191, 151, 1)
blanco #FFFFFF  RBG( 255 - 255 - 255)  rgba(255, 255, 255, 1)*/

/*Colores
rojo: #ff303
naranja: #FF3D00
amarillo: #F2F60E
verde claro: #B4E944
verde: #26FF02*/
body{
    background: #d9d9d9;
}

.wrapper {
    text-align:center;
    width:300px;
    height:200px;
    position:relative;
}

.lista-del-medidor{
    text-align: right;
    width: 100%;
    margin: 30px;
}

.ancho{
    width: 100%;
    display: flex;
    text-align: right;
}

li.uno{
    list-style-image: url(Fundaci-n-Semilla/img/triangulo.png);
}

.wrapper>div:first-child {
    border:1px solid #ababab;
    position:relative;
    height:150px;
    overflow:hidden;
}
.wrapper .line {
    display:inline-block;
    position:absolute;
    z-index:-1;

    width:4px;
    background-color:#808080;
    transform: rotate(90deg);
    transition: all 0.8s ease-out;
    height:200px;
    top:12%
}
.wrapper .line::after {
    position: absolute;
    content:"";
    top:0%;
    left:-1px;
    bottom:50%;
    right:-1px;
    background-color:#fff;
}
.number {
    width:20px;
    left:140px;
    height:240px;
    display:inline-block;
    position:absolute;
    z-index:-1;
}
.number.n0 {
    transform: rotate(-90deg);
    bottom:-80px;
}
.number.n25 {
    transform: rotate(-45deg);
}
.number.n75 {
    transform: rotate(45deg);
}
.number.n180 {
    transform: rotate(90deg);
    bottom:-80px;
}
.circle1 {
    position:absolute;
    background-color:#353535;
    top:72%;
    left:calc(50% - 8px);
    width:20px;
    height:20px;
    border-radius:50% 50%;
}
.circle2 {
    position:absolute;
    top:24px;
    left:calc(150px - 95px);
    width:190px;
    height:190px;
    border-radius:50% 50% 0 0;
    z-index:-2;
    background: linear-gradient(to right,  #ff0000, #B58E05, #f2f60e, #00ff00);
}
.circle2::after {
    position:absolute;
    content:"";
    height:50%;
    background-Color:#fff;
    top:92px;
    left:0;
    width:101%;
}
.circle2::before {
    position:absolute;
    content:"";
    top:20px;
    left:20px;
    background-Color:#fff;
    height:calc(100% - 40px);
    width:calc(100% - 40px);
    border-radius:50% 50% 0 0;
}



