/*font-family: 'Playfair Display', serif;*/
/*Colores
verde barra lateral #009458 RBG( 0 - 148 - 88 )  rgba(0, 148, 88, 1)
verde clarito #69BF97 RBG( 105 - 191 - 151 ) rgba(105, 191, 151, 1)
blanco #FFFFFF  RBG( 255 - 255 - 255)  rgba(255, 255, 255, 1)*/

/*Colores
rojo: #ff303
naranja: #FF3D00
amarillo: #F2F60E
verde claro: #B4E944
verde: #26FF02*/
